
/* ----- videos section ----- */
.videos-section {
  text-align: center;
  padding-top: 120px;
}
.videos-section .community-logo-heading {
  line-height: 0;
}
.videos-section .logo {
  display: block;
  width: 100%;
  max-width: 360px;
  height: auto;
  aspect-ratio: 802.5 / 268.6;
  margin: 0 auto 70px;
  -webkit-filter: drop-shadow(0px 0px 64px rgba(255, 201, 52, 0.11));
  filter: drop-shadow(0px 0px 64px rgba(255, 201, 52, 0.11));
}
.videos-section .content {
  margin: auto;
  max-width: 1900px;
}
.video-box {
  display: inline-block;
  background-image: url(../img/thumbnails/pirate-chain-youtube-video-placeholder.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width:560px;
  height: 372px;
  padding: 0px 0px;
  line-height: 13px;
  -webkit-filter: drop-shadow(15px 20px 15px rgba(0, 0, 0, 0.281));
  filter: drop-shadow(15px 20px 15px rgba(0, 0, 0, 0.281));
  border-radius: 15px;
  margin: 30px 20px;
  position: relative;
  transition: all .3s ease-in-out;
  border: 10px solid #2b2f3e;
}
.video-box:hover {
  transform: translateY(-10px)
}
.video-box a {
  display: inline-block;
  width: 100%;
  background-color: var(--dark);
  color: var(--pirate-doubloon);
  padding: 20px 0px;
  text-align: center;
  font-weight: 200;
  border-radius: 0px 0px 5px 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.video-box a:hover {
  color: var(--dark);
  background-color: var(--pirate-doubloon);
  font-weight: bold;
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
  transition-property: all;
}
.video-box iframe {
  width: 100%;
  height: 300px;
  border-radius: 5px 5px 0px 0px ;
  position: absolute;
  top: 0px;
  left:0px;
  border: none;
}
@media screen and (max-width:660px) {
  .video-box {
    width: 468px;
    height: 317px;
  }  
  .video-box iframe  {
    width: 448px;
    height: 252px;
  }
} 
@media screen and (max-width:500px) {
  .video-box {
    width: 356px;
    height: 255px;
  }  
  .video-box iframe  {
    width: 336px;
    height: 190px;
  }
} 
@media screen and (max-width:440px) {
  .video-box {
    width: 244px;
    height: 184px;
  }  
  .video-box iframe  {
    width: 224px;
    height: 116px;
  }
} 
.featured-video {
  display: block;
  margin: 55px auto 200px;
  max-width: 650px;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  padding: 0;
  position: relative;
  border: 2px solid var(--pirate-doubloon);
  border-radius: 15px;
  -webkit-filter: drop-shadow(0px 0px 64px rgba(255, 201, 52, 0.11));
  filter: drop-shadow(0px 0px 64px rgba(255, 201, 52, 0.11));
}
.featured-video:hover {
  transform: translateY(0px);
}
.featured-video .featured {
  background-color: var(--pirate-doubloon);
  color: var(--pirate-leviathan);
  position: absolute;  
  font-size: 16px;
  padding: 10px 40px 10px;
  top: -35px;
  left: 20px;
  border-radius: 15px 15px 0 0;
  font-weight: 700;
}
.featured-video iframe {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}


/* ----- socials ----- */
.socials-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.socials-section .content {
  text-align: center;
  color: var(--pirate-cloud);
}
.socials-section .social-container {
  margin-top: 0;
}
.socials-section .pirate-divider {
  margin: 80px auto 70px;
}
.socials-section h2{
  color: var(--pirate-doubloon);
  margin-bottom:20px;
  font-weight: 400;
}
.socials-section .social {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  max-width: 180px;
  text-align: center;
  margin: auto;
  margin-bottom: 40px;    
}
.socials-section .social img {
  width: 100%;
  max-width: 140px;
  transition: transform .5s ease-in-out;
}
.socials-section .social img:hover {
  transform: rotate(360deg);
}
